<div class="header">
    <h1>Prayer Times</h1>
    <p>Get your current location prayer time.</p>
    <form>
        <input type="text" placeholder="Enter your City Name">
    </form>
</div>

<div class="wrapper">
    <div class="left">        
        <img src="assets/kaba.jpg" alt="">
        <p class="title-text">Prayer Times in <strong>Dhaka</strong></p>
        <p class="subTitle-text">Saturday, 8 Oct 2022</p>
    </div>
    <div class="right">
        <div class="times">
            <div class="salah-time margin-2">
                <div class="name">
                    <p>Fajr</p>
                </div>
                <div class="waqt">
                    4:37 AM
                </div>
            </div>
            <div class="salah-time margin-1">
                <div class="name">
                    <p>Sunrise</p>
                </div>
                <div class="waqt">
                    5:50 AM
                </div>
            </div>
            <div class="salah-time margin-2">
                <div class="name">
                    <p>Dhuhr</p>
                </div>
                <div class="waqt">
                    12:20 PM
                </div>
            </div>
            <div class="salah-time margin-1">
                <div class="name">
                    <p>Asr</p>
                </div>
                <div class="waqt">
                    3:30 PM
                </div>
            </div>
            <div class="salah-time margin-2">
                <div class="name">
                    <p>Maghrib</p>
                </div>
                <div class="waqt">
                    5:45 PM
                </div>
            </div>
            <div class="salah-time margin-1">
                <div class="name">
                    <p>Isha'a</p>
                </div>
                <div class="waqt">
                    6:54 PM
                </div>
            </div>
        </div>
    </div>
</div>

<router-outlet></router-outlet>
