<div class="header">
    <h1>Prayer Times</h1>
    <p>Get your current prayer time location.</p>
    <form>
        <input type="text" placeholder="Enter your City Name">
    </form>
</div>

<div class="wrapper">
    <div class="left">
        <img src="assets/kaba.jpg" alt="">
    </div>
    <div class="right">
        <div class="times">
            <div class="salah-time margin-2">
                <div class="name">
                    <p>Fajr</p>
                </div>
                <div class="waqt">
                    4:37 AM
                </div>
            </div>
            <div class="salah-time margin-1">
                <div class="name">
                    <p>Sunrise</p>
                </div>
                <div class="waqt">
                    5:50 AM
                </div>
            </div>
            <div class="salah-time margin-2">
                <div class="name">
                    <p>Juhr</p>
                </div>
                <div class="waqt">
                    12:20 PM
                </div>
            </div>
            <div class="salah-time margin-1">
                <div class="name">
                    <p>Asr</p>
                </div>
                <div class="waqt">
                    3:30 PM
                </div>
            </div>
            <div class="salah-time margin-2">
                <div class="name">
                    <p>Magrib</p>
                </div>
                <div class="waqt">
                    5:45 PM
                </div>
            </div>
            <div class="salah-time margin-1">
                <div class="name">
                    <p>Esha</p>
                </div>
                <div class="waqt">
                    6:54 PM
                </div>
            </div>
        </div>
    </div>
</div>

<router-outlet></router-outlet>
